@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: inherit;
  transition: all 0.6s ease;
}

body {
  background: #325aa8;
  font: 400 1em/1.5 "Roboto", sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0;
}
@media (min-width: 450px) {
  h1 {
    font-size: 1.75em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 3.25em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 5.25em;
    margin-bottom: 1em;
  }
}

p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) and (max-height: 500px) {
  p {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 90%;
  }
}
p a {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #325aa8;
}

.btn {
  color: #fff;
  cursor: pointer;
  font: 400 75px/45px "Roboto", sans-serif;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #325aa8;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: stroke-width 0.35s, stroke-dasharray 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1:hover {
  background: rgba(50, 90, 168, 0.5);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
}
