/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,900');

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #325aa8;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Login Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Login Form */
.formLogin {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(60px);
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    color: #11b0ff;
    font-weight: 1000;
    font-size: 2.3em;
}

.formLogin p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: border-color 160ms ease;
    outline: none;
}

.formLogin input:focus {
    border-color: #f72525;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    font-size: 13px;
    color: #000000;
    transition: color 160ms ease;
}

.formLogin a:hover {
    color: #f72585;
}

/* Button Styles */
.btn {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn-1 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Linha animada em volta do botão */
.btn-1 rect {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover {
    background: rgba(50, 90, 168);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}